@import "tailwindcss";

.duo-button {
  @apply relative
  justify-center
  items-center

  bg-transparent
  border-transparent
  outline-none
  touch-manipulation
  cursor-pointer
  select-none
  before:absolute
  before:inset-0
  active:before:shadow-none
  before:-z-1

  font-bold
  text-sm
  tracking-[0.8px]

  w-full
  px-2
  py-1
  rounded-lg
  before:rounded-lg

  before:bg-[#49C1F8]
  before:shadow-[0_4px_0_#189AD6]
  border-b-[4px]
  active:translate-y-[4px]
  active:before:bg-[#189AD6]
  hover:brightness-[1.1];
}
.duo-button > span {
  @apply active:brightness-[0.9] uppercase truncate;
}

.link-button {
  @apply before:bg-[#49C1F8]
    before:shadow-[0_4px_0_#189AD6]
    active:before:bg-[#189AD6];
}
.active-link-button {
  @apply translate-y-[4px] before:shadow-none before:bg-[#189AD6] hover:brightness-[1];
}

.file-button {
  @apply before:bg-[#7AC70C]
    before:shadow-[0_4px_0_#619F09]
    active:before:bg-[#619F09];
}
.active-file-button {
  @apply translate-y-[4px] before:shadow-none before:bg-[#619F09] hover:brightness-[1];
}

.record-button {
  @apply before:bg-[#fc4848]
    before:shadow-[0_4px_0_#C93939]
    active:before:bg-[#C93939];
}
.active-record-button {
  @apply translate-y-[4px] before:shadow-none before:bg-[#C93939] hover:brightness-[1];
}

.select-button {
  @apply before:bg-[#d6e4ef]
    before:shadow-[0_4px_0_#aac1d4]
    active:before:bg-[#aac1d4]

    disabled:before:shadow-none
    disabled:before:bg-[#aac1d4]
    disabled:hover:brightness-[1]
    disabled:translate-y-[4px]
    disabled:cursor-default;
}
.active-select-button {
  @apply translate-y-[4px] before:shadow-none before:bg-[#aac1d4] hover:brightness-[1];
}

.player-button {
  @apply before:bg-[#d6e4ef]
  before:shadow-[0_8px_0_#aac1d4]
  border-b-[8px]
  active:translate-y-[8px]
  hover:before:shadow-[0_6.5px_0_#aac1d4]
  active:before:shadow-none
  hover:translate-y-[1.5px]
  active:before:bg-[#aac1d4]

  disabled:before:shadow-none
  disabled:before:bg-[#aac1d4]
  disabled:hover:brightness-[1]
  disabled:translate-y-[8px]
  disabled:cursor-default;
}

.transcript-button {
  @apply before:bg-gradient-to-r before:from-fuchsia-400 before:to-purple-500
    before:shadow-[0_8px_0_#6b21a8]
    border-b-[8px]
    active:translate-y-[8px]
    hover:before:shadow-[0_6.5px_0_#6b21a8]
    active:before:shadow-none
    active:before:bg-[#6b21a8]

    /* Estado desactivado */
    disabled:before:shadow-none
    disabled:before:bg-gradient-to-r 
    disabled:before:from-fuchsia-700 disabled:before:to-purple-900
    disabled:hover:brightness-[1]
    disabled:translate-y-[8px]
    disabled:cursor-default;
}

.go-to-home {
  @apply before:bg-[#fee333]
    before:shadow-[0_4px_0_#ffc100]
    active:before:bg-[#ffc100]

    disabled:before:shadow-none
    disabled:before:bg-[#ffc100]
    disabled:hover:brightness-[1]
    disabled:translate-y-[4px]
    disabled:cursor-default;
}

.player-button {
  @apply before:bg-[#d6e4ef]
  before:shadow-[0_8px_0_#aac1d4]
  border-b-[8px]
  active:translate-y-[8px]
  hover:before:shadow-[0_6.5px_0_#aac1d4]
  active:before:shadow-none
  hover:translate-y-[1.5px]
  active:before:bg-[#aac1d4]

  disabled:before:shadow-none
  disabled:before:bg-[#aac1d4]
  disabled:hover:brightness-[1]
  disabled:translate-y-[8px]
  disabled:cursor-default;
}

.go-to-transcript {
  @apply before:bg-[#fee333]
  before:shadow-[0_8px_0_#ffc100]
  border-b-[8px]
  active:translate-y-[8px]
  hover:before:shadow-[0_6.5px_0_#ffc100]
  active:before:shadow-none
  hover:translate-y-[1.5px]
  active:before:bg-[#ffc100]

  disabled:before:shadow-none
  disabled:before:bg-[#ffc100]
  disabled:hover:brightness-[1]
  disabled:translate-y-[8px]
  disabled:cursor-default;
}
